<%# app/views/todo_items/_form.html.erb %>
<%= simple_form_for([@todo_list, todo_item], html: { class: "contents space-y-6" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div>
    <%= f.input :title,
      wrapper_html: { class: 'mb-4' },
      input_html: {
        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
      }
    %>
    <%= f.input :description,
      as: :text,
      wrapper_html: { class: 'mb-4' },
      input_html: {
        rows: 4,
        class: 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500'
      }
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,
      class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    %>
  </div>
<% end %>
